%aside{class:'clear-padding'}
  .filter.affix.clear-padding.col-lg-3.col-md-4.col-sm-6.col-xs-9
    .filter-box
      = label_tag :id, t(:par_id)
      = text_field_tag 'filter[id]', nil, class: 'form-control'
      = label_tag t(:par_name)
      = text_field_tag 'filter[name]', nil, class: 'form-control'
      = label_tag t(:par_author)
      = text_field_tag 'filter[author]', nil, class: 'form-control'
      = label_tag t(:par_category)
      = text_field_tag 'filter[category]', nil, class: 'form-control'
      = label_tag t(:par_score)
      = text_field_tag 'filter[score]', nil, class: 'form-control'
      = check_box_tag  'filterQuizTasks'
      = label_tag t(:filter_quiz_tasks)
      .btn-group.btn-group-justified.btn-toolbar
        .filter-button.btn.btn-default= t(:btn_filter)
        .filter-clear.btn.btn-default= t(:btn_clear)
    .filter-bookmark.btn= t(:btn_filter)