= provide(:title, t(:quiz_list))
.row.center
  .col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
    .text-center
      = render 'shared/flash'
      .jumbotron
        %h2= t(:quiz_list)
        .btn-group-vertical.visible-xs.mb-20
          = link_to t(:btn_create_new_quiz), new_quiz_path, class: 'btn btn-lg btn-primary'
          = link_to t(:btn_back), interface_path, class: 'btn btn-lg btn-primary'
        .row
          .table-responsive
            %table{class: 'table table-bordered table-hover table-limit table-inverse'}
              %thead
                %tr
                  %th{class: 'text-center'}= t(:par_id)
                  %th{class: 'text-center'}= t(:par_author)
                  %th{class: 'text-center'}= t(:par_name)
                  %th{class: 'text-center'}= t(:par_password)
                  %th{class: 'text-center'}= t(:par_created_at)
                  %th{class: 'text-center'}= t(:par_active)
                  %th
              %tbody
                - @quizzes.each do |quiz|
                  %tr{class: 'cursor-pointer', 'data-toggle': 'collapse', 'data-target': "#accordion_quiz#{quiz.id}"}
                    %td= quiz.id
                    %td= author_alias(quiz)
                    %td= quiz.name
                    %td= quiz.password
                    %td= quiz.created_at.to_date
                    %td
                      = form_for(quiz, method: :post, url: activate_quiz_path(quiz.id)) do |f|
                        = f.check_box 'active', {class: 'stop-propagation', onchange: 'this.form.submit()'}, checked_value: true, unchecked_value: false
                    %td
                      - if editable?(quiz)
                        = link_to t(:btn_edit), edit_quiz_path(quiz), class: 'btn btn-xs btn-primary stop-propagation'
                        = link_to t(:btn_archive), archive_quiz_path(quiz), method: :post, class: 'btn btn-xs btn-danger', data: { confirm: t(:are_you_sure) }
                      - elsif quiz.archived?
                        .btn.btn-xs.btn-danger.disabled.stop-propagation= t(:archived)
                      - elsif quiz.used?
                        .btn.btn-xs.btn-danger.disabled.stop-propagation= t(:used)
                  %tr
                    %td{class: 'clear-p-b-m', colspan: '6'}
                      .collapse.table-responsive.table-limit{id: "accordion_quiz#{quiz.id}"}
                        %table{class: 'table table-hover table-limit clear-margin'}
                          %thead
                            %tr
                              %th{class: 'text-center'}= t(:par_id)
                              %th{class: 'text-center'}= t(:par_category)
                              %th{class: 'text-center'}= t(:par_author)
                              %th{class: 'text-center'}= t(:par_name)
                              %th{class: 'text-center'}= t(:par_score)
                              %th{class: 'text-center'}= t(:par_created_at)
                          %tbody
                            - quiz.tasks.each do |task|
                              %tr{class: 'cursor-pointer', 'data-toggle': 'collapse', 'data-target': "#accordion_task#{quiz.id}#{task.id}"}
                                %td= task.id
                                %td= task.category
                                %td= author_alias(task)
                                %td= task.name
                                %td= task.score
                                %td= task.created_at.to_date
                              %tr
                                %td{class: 'clear-p-b-m', colspan: '6'}
                                  .collapse{id: "accordion_task#{quiz.id}#{task.id}"}
                                    .col-lg-8.col-md-8.col-sm-8.col-xs-12.task-details
                                      .row
                                        %p= "#{t(:par_description)}:   #{task.description}"
                                      .row
                                        %p{class: 'clear-p-b-m'}= "#{t(:par_correct_solutions)}:"
                                        - task.correct_solutions.each_with_index do |solution, index|
                                          %p{class: 'clear-p-b-m'}= "#{index + 1}. #{solution} \n"
                                      .row
                                        %p{class: 'clear-p-b-m'}= "#{t(:par_wrong_solutions)}:"
                                        - task.wrong_solutions.each_with_index do |solution, index|
                                          %p{class: 'clear-p-b-m'}= "#{index + 1}. #{solution} \n"
                                      - if task.random?
                                        .row
                                          %p{class: 'clear-p-b-m'}= "#{t(:par_number_of_solutions)}: #{task.no_random_solutions}"
                                          %p{class: 'clear-p-b-m'}= "#{t(:par_min_number_of_correct_solutions)}: #{task.min_no_random_correct_solutions}"
                                    .col-lg-4.col-md-4.col-sm-4.col-xs-12
                                      .row
                                        %img{src: "#{task.asset}", class: 'img-responsive', alt: 'No image'}
                                        .row.row-p-t
                                        - if editable?(task)
                                          = link_to t(:btn_archive), archive_task_path(task), method: :post, class: 'btn btn-xs btn-danger pull-right', data: { confirm: t(:are_you_sure) }
                                          = link_to t(:btn_edit), edit_task_path(task), class: 'btn btn-xs btn-primary pull-right'
                                        - elsif task.archived?
                                          .btn.btn-xs.btn-danger.pull-right.disabled= t(:archived)
                                        - elsif task.used?
                                          = link_to t(:btn_archive), archive_task_path(task), method: :post, class: 'btn btn-xs btn-danger pull-right', data: { confirm: t(:are_you_sure) }
                                          .btn.btn-xs.btn-danger.pull-right.disabled= t(:used)
          .btn-group
            = link_to t(:btn_create_new_quiz), new_quiz_path, class: 'btn btn-lg btn-primary'
          .btn-group
            = link_to t(:btn_back), interface_path, class: 'btn btn-lg btn-primary'