= provide(:title, t(:sign_in))
.center
  = form_for :session, url: signin_path do |f|
    = render 'shared/small_flash'
    .row.text-center
      .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-12
        .jumbotron
          %h2= t(:sign_in)

          = f.label t(:par_email)
          %i{class: 'material-icons text-muted', rel: 'tooltip', title: t(:tt_rgstr_email)} info_outline
          = f.text_field 'email', class: 'form-control'

          = f.label t(:par_password)
          %i{class: 'material-icons text-muted', rel: 'tooltip', title: t(:tt_rgstr_password)} info_outline
          = f.password_field 'password', class: 'form-control'

          %small= t(:forgot_password)
          %small= link_to t(:btn_recover), '#'

          = f.submit t(:btn_sign_in), class: 'btn btn-lg btn-primary btn-toolbar'

          %small= t(:no_account)
          %small= link_to t(:btn_sign_up), register_path