= provide(:title, t(:register))
.row.center
  = form_for :user, url: register_path do |f|
    .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-12
      = render 'user_error_messages'
      .text-center
        .jumbotron
          %h2= t(:register)

          = f.label t(:par_email)
          %i{class: 'material-icons text-muted', rel: 'tooltip', title: t(:tt_rgstr_email)} info_outline
          = f.text_field 'email', maxlength: 64, class: 'form-control'

          = f.label t(:par_password)
          %i{class: 'material-icons text-muted', rel: 'tooltip', title: t(:tt_rgstr_password)} info_outline
          = f.password_field 'password', maxlength: 64, class: 'form-control'

          = f.submit t(:btn_register), class: 'btn btn-lg btn-primary btn-toolbar'

          %small= t(:have_account)
          %small= link_to t(:btn_sign_in), signin_path