= provide(:title, t(:register))
.row.center
  .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-12
    .text-center
      = render 'shared/flash'
      .jumbotron
        %h2= t(:user_interface)
        .btn-group-vertical
          - if current_user.admin?
            = link_to t(:btn_view_quizzes), quizzes_path, class: 'btn btn-lg btn-primary'
            = link_to t(:btn_view_tasks), tasks_path, class: 'btn btn-lg btn-primary'
            = link_to t(:btn_user_list), users_path, class: 'btn btn-lg btn-primary'
          - else
            = link_to t(:btn_enter_quiz), '#', class: 'btn btn-lg btn-primary'
          - if optional_registration?
            = link_to t(:btn_update_additional_info), register_optional_path, class: 'btn btn-lg btn-primary'
          = link_to t(:btn_score_list), attempts_path, class: 'btn btn-lg btn-primary'
          = link_to t(:btn_sign_out), signout_path, class: 'btn btn-lg btn-primary'