= provide(:title, t(:register))
.center
  .row.text-center
    .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-12
      .jumbotron.btn-group-vertical
        - if current_user.admin?
          = link_to t(:btn_test_menu), '#', class: 'btn btn-lg btn-primary'
          = link_to t(:btn_user_list), '#', class: 'btn btn-lg btn-primary'
        - else
          = link_to t(:btn_enter_quiz), '#', class: 'btn btn-lg btn-primary'
        - if optional_registration?
          = link_to t(:btn_update_additional_info), register_optional_path, class: 'btn btn-lg btn-primary'
        = link_to t(:btn_score_list), '#', class: 'btn btn-lg btn-primary'
        = link_to t(:btn_sign_out), signout_path, class: 'btn btn-lg btn-primary'