!!! 5
%html
  %head
    %title= yield(:title)
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/header'
    .container
      .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2.col-xs-12
        - flash.each do |message_type, message|
          = content_tag :div, message, class: "alert alert-#{message_type}"
      = yield
      = render 'shared/footer'
      = console if Rails.env.development?
    = render 'cookies_eu/consent_banner'